.fourth-page{
    padding: 0%;
    padding-top: 10%;
}

.fr-heading{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 43px;
    padding-left: 9%;
    padding-bottom: 3%;
}

.fr-text{
    color: rgb(104, 103, 103);
    padding-left: 9%;
    padding-bottom: 5%;
    font-size: 15px;
}

.fr-divs{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 2%;
}

.fr-div1{
    width: 45%;
    height: 100%;
}

.fr-div2{
    display: flex;
    width: 50%;
    height: 600px;
}

.fr-diva{
    width: 60%;
    background-color: black;
    color: white;
    padding-left: 10%;
}

.fr-divb{
    width: 40%;
}

