.fourth-page{
    padding: 0%;
    padding-top: 10%;
    background-color: rgb(248, 247, 248);
}

.fr-heading{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 43px;
    padding-left: 9%;
    padding-bottom: 3%;
}

.fr-text{
    color: rgb(104, 103, 103);
    padding-left: 9%;
    padding-bottom: 5%;
    font-size: 15px;
}

.fr-divs{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 2%;
    background-color: rgb(248, 247, 248);
}

@media screen and (max-width:600px) {
    .fr-divs{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        gap: 2%;
        background-color: rgb(248, 247, 248);
    }
    #earth{
        display: none;
    }
    
    .fr-div2{
        display: flex;
        width: 100%;
        height: 100%;
    }
    .fr-diva{
        width: 100%;
    }
    #sideimg{
        height: 600px;
        width: 250px;
    }
    
}
#sideimg{
    height: 600px;
    width: 100%;
}


#earth{
    width: 100%;
    height: 100%;
}


.fr-div1{
    width: 45%;
    height: 100%;
}

.fr-div2{
    display: flex;
}

.fr-diva{
    width: 100%;
    background-color: black;
    color: white;
    padding-left: 10%;
    height: 600px;
}

.fr-divb{
    width: 100%;
}

