.lastpage{
    display: flex;
    /* flex-wrap: wrap; */
    width: 100%;
    position: relative;
}

#limg{
    width: 505px;
    height: 800px;
}
@media screen and (max-width:530px) {
    .lastpage{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        gap: 0;
    }
    #limg{
        width: 100vw !important;height: 300px !important;
        padding-bottom: 100px;
        margin: 0;
    }
}
@media screen and (max-width:1516px) {
    #limg{
        width: 100%;
        height: 800px;
    }
    .lastpage div{
        width: fit-content;
        height: fit-content;
    }
}