.lastpage{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

#limg{
    width: 505px;
    height: 800px;
}
@media screen and (max-width:500px) {
    #limg{
        width: 100%;
        height: 800px;
    }
}